<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<!-- CONECTAR A LA BASE DE DATOS -->
<connectionStrings>
  <add name ="conectar" connectionString="Server=localhost;Integrated Security= yes; Database=PRACTICA_4_CAPAS"/>
</connectionStrings>
</configuration>